{% from macro('banner_header') import render_banner_header %}
{% from macro('form_action') import render_form_action %}
{% from macro('form_field') import render_form_field %}
{% from macro('right_tag') import render_right_tag %}

{% extends layout('base') %}

{% block content %}
    {{ render_banner_header(image=static('img:b-profile.png')) }}
    <main class="container is-max-tablet px-5 mb-5">
        <form
            action="{{ view('user:put') }}"
            method="POST"
        >
            <div class="box p-5 mb-5">
                {{ render_right_tag('Identificação') }}
                {{ render_form_field(form.name, margin_bottom=0) }}
            </div>
            <div class="box p-5 mb-5">
                {{ render_right_tag('Preferências') }}
                {{ render_form_field(
                    form.first_view,
                    encapsulation='select',
                    widget='select',
                    help=(
                        'A tela de abertura é a primeira que você verá ao ' ~
                        'acessar o sistema.'
                    )
                )}}
                {{ render_form_field(
                    form.password_complexity,
                    encapsulation='select',
                    widget='select',
                    help=(
                        'A complexidade influencia os requisitos das senhas ' ~
                        'geradas para as contas.'
                    )
                )}}
                {{ render_form_field(
                    form.zoom,
                    encapsulation='select',
                    widget='select',
                    margin_bottom=0
                )}}
            </div>
            {{ render_form_action(
                form.submit,
                back_href=view('user:index')
            ) }}
        </form>
    </main>
{% endblock %}