{% from macro('form_action') import render_form_action %}
{% from macro('form_field') import render_form_field %}

{% macro render_account_form(form, action) %}
    <form action="{{ action }}" method="POST">
        <div class="box p-5">
            <div class="columns">
                <div class="column is-full is-8">
                    {{ render_form_field(form.name, margin_bottom=0) }}
                </div>
                <div class="column is-full is-4">
                    {{ render_form_field(
                        form.category,
                        encapsulation='select',
                        widget='select',
                        margin_bottom=0
                    ) }}
                </div>
            </div>
            {{ render_form_field(
                form.notes,
                widget='textarea',
                help='Anote o que julgar necessário.'
            ) }}
            {{ render_form_field(form.username) }}
            <div class="columns">
                <div class="column is-full is-7">
                    {{ render_form_field(form.email, margin_bottom=0) }}
                </div>
                <div class="column is-full is-5">
                    {{ render_form_field(form.phone, margin_bottom=0) }}
                </div>
            </div>
            {{ render_form_field(
                form.password,
                help='Uma senha forte protege impérios e contas.',
                margin_bottom=0
            ) }}
        </div>
        {{ render_form_action(
            form.submit,
            back_href=view('account:index'),
        ) }}
    </form>
{% endmacro %}