{% macro render_form_field(
    field,
    encapsulation = 'control',
    widget = 'input',
    help = none,
    margin_bottom = 5
) %}
    {% set label = field.label %}
    {% set is_required = 'required' in field.flags %}
    <div class="field mb-{{ margin_bottom }}">
        <label class="label is-size-7 has-text-weight-bold" for="{{ label.field_id }}">
            {{ label.text }}
            {% if is_required %}
                <span class="has-text-danger">*</span>
            {% endif %}
        </label>
        <div class="{{ encapsulation }}">
            {{ field(class=widget) }}
        </div>
        {% if help %}
            <p class="help">{{ help }}</p>
        {% endif %}
    </div>
{% endmacro %}