{% macro render_link_button(
    text,
    image,
    href,
    category = 'default',
    description = none
) %}
    <a
        class="button is-{{ category }} has-tooltip-bottom"
        href="{{ href }}"
        {% if description %} data-tooltip="{{ description }}" {% endif %}
    >
        <div class="is-flex is-align-items-center">
            <figure class="image is-16x16 mr-2">
                <img src="{{ image }}" />
            </figure>
            {{ text }}
        </div>
    </a>
{% endmacro %}