{% macro banner_header(image) %}
    <header class="container is-max-tablet px-5 my-5">
        <figure class="image">
            <img 
                class="has-radius-large" 
                src="{{ image }}"
            />
        </figure>
    </header>
{% endmacro %}