{% macro form_action(submit_field, back_href) %}
    <div class="
        buttons
        is-justify-content-space-between
        is-flex-direction-column-mobile
        is-align-items-strecht-mobile
    ">
        <a 
            class="button is-white is-outlined" 
            href="{{ back_href }}"
        >
            Voltar
        </a>
        {{ submit_field(class='button is-primary') }}
    </div>
{% endmacro %}