{% macro right_tag(text) %}
    <div class="is-flex is-justify-content-end mb-5">
        <span class="tag is-link has-text-weight-medium">
            {{ text }}
        </span>
    </div>
{% endmacro %}