{% macro right_tag(content) %}
    <div class="is-flex is-justify-content-end mb-5">
        <span class="tag is-dark has-text-weight-medium">
            {{ content }}
        </span>
    </div>
{% endmacro %}