{% from macro('account_form') import render_account_form with context %}
{% from macro('banner_header') import render_banner_header %}

{% extends layout('base') %}

{% block content %}
    {{ render_banner_header(image=static('img:b-account.png')) }}
    <main class="container is-max-tablet px-5 mb-5">
        {{ render_account_form(
            form,
            action=view('account:post')
        ) }}
    </main>
{% endblock %}