{% from macro('navbar_item') import navbar_item %}

<nav class="navbar is-fixed-top">
    <div class="navbar-brand">
        <a
            class="navbar-burger"
            data-target=".navbar-menu"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            {{ navbar_item('Início', view('home:index')) }}
            {{ navbar_item('Contas', view('account:index')) }}
            {{ navbar_item('Perfil', view('user:index')) }}
        </div>
    </div>
</nav>