{% extends layout('base') %}

{% block content %}
    <main class="container px-5 mt-5 mb-7">
        {% for row in accounts | batch(2) %}
            <div class="columns is-vcentered">
                {% for account in row %}
                    <div class="column is-6">
                        <div
                            class="card is-clickable"
                            data-href="{{ view('account:update', id=account.id) }}"
                        >
                            <div class="card-content is-flex is-align-items-center">
                                <figure class="image is-64x64 is-flex-shrink-0 mr-5">
                                    <img
                                        class="is-rounded"
                                        src="{{ static('img:i-group-' ~ account.group ~ '.png') }}"
                                    />
                                </figure>
                                <div>
                                    <div class="is-flex is-align-items-center mb-2">
                                        <figure class="image is-16x16 mr-2">
                                            <img src="{{ static('img:i-category-' ~ account.category ~ '.png') }}" />
                                        </figure>
                                        <span class="is-size-7 has-text-weight-semibold">
                                            {{ {
                                                'bronze': 'Bronze',
                                                'silver': 'Prata',
                                                'gold': 'Ouro',
                                            }[account.category] }}
                                        </span>
                                    </div>
                                    <h2 class="title is-6 mb-2">
                                        {{ account.name | truncate(27, killwords=True) }}
                                    </h2>
                                    <h3 class="subtitle is-7 mb-0">
                                        {{
                                            (
                                                account.username or
                                                account.email or
                                                account.phone or
                                                'Sem credenciais'
                                            ) | truncate(47, killwords=True)
                                        }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="is-flex is-flex-direction-column is-align-items-center pb-3">
                <figure class="image is-96x96 mb-2">
                    <img
                        class="is-floating"
                        src="{{ static('img:i-jupiter.png') }}"
                    />
                </figure>
                <h2 class="title is-6 is-italic has-text-weight-medium">
                    Sine monumentis
                </h2>
            </div>
        {% endfor %}
    </main>
    <footer class="
        is-flex
        is-gap-3
        is-position-fixed
        is-bottom-0
        is-hcentered
        is-z-index-1
        mb-5
    ">
        <a
            class="
                button
                is-primary
                has-text-weight-medium
                has-shadow
                px-4
            "
            href="{{ view('account:create') }}"
        >
            <div class="is-flex is-align-items-center">
                <figure class="image is-16x16 mr-4">
                    <img src="{{ static('img:i-add.png') }}" />
                </figure>
                Adicionar
            </div>
        </a>
        <form class="has-shadow" action="{{ view('account:index') }}" method="GET">
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input px-4"
                        name="search"
                        placeholder="Buscar por..."
                        maxlength="100"
                        value="{{ search }}"
                    />
                </div>
                <div class="control">
                    <button class="button is-link">
                        <span class="icon">
                            <figure class="image is-16x16">
                                <img src="{{ static('img:i-search.png') }}" />
                            </figure>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </footer>
{% endblock %}