{% from macro('account_form') import account_form with context %}
{% from macro('banner_header') import banner_header %}
{% from macro('link_button') import link_button %}

{% extends layout('base') %}

{% block content %}
    <header class="container is-max-tablet px-5 my-5">
        <figure class="image mb-2">
            <img 
                class="has-radius-large" 
                src="{{ static('img:b-account.png') }}"
            />
        </figure>
        <div class="buttons are-small is-right">
            {{ link_button(
                text='Gerar senha',
                image=static('img:i-generate-password.png'),
                href=view('account:generate_password', id=account.id)
            ) }}
            {{ link_button(
                text='Excluir',
                image=static('img:i-delete.png'),
                href=view('account:delete', id=account.id),
                category='link'
            ) }}
        </div>
    </header>
    <main class="container is-max-tablet px-5 mb-5">
        {{ account_form(
            form,
            action=view('account:put', id=account.id)
        ) }}
    </main>
{% endblock %}